*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* A tag "height no html aumenta o tamanho da página para rolar o scroll */
/* html{
    height: 500vh;
} */

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem{
    background-color: aliceblue;
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: #ffae81;
}

header i{
    font-size: 1.87rem;
    color: aliceblue;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 25px;
}

header ul li a{
    color: aliceblue;
    text-decoration: none;
}

.banner{
    height: 100vh;
    background-image: url(img/banner_manhecer_gavea.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #ffae81;
    color: aliceblue;
    cursor: pointer;
    transition: .2s;
}

.btn-saiba {
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #ffae81;
    color: aliceblue;
    cursor: pointer;
    transition: .2s;
}
.btn-saiba:hover {
    background-color: #ff9a5a;
}


.banner h1{
    font-size: 4em;
}

.banner h1 span{
    color: #ffae81;
}

/* Início do WhatsApp Suspenso */
.whats{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}
/* Final do WhatsApp suspenso */

.section-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    background-color: #0000;
    color: #000000;
    padding: 50px 36px;
}

/* Início Menu Dropdown */
.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
    background-color: #f5f5f5;
}

 .dropdown-menu a{
    display: block;
    color: black;
 }

 .dropdown:hover .dropdown-menu{
    display: block;
 }
 /* Final do Menu Dropdown */

 nav{
    background: #333;
}
 nav li{
    display: inline-block;
 }

 nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;
 }

 nav li a:hover{
    background-color: #A9D343;
 }


 .contato:hover{
    border-radius: 15px;
 }

 .sec2{
    background: #f5f5f5;
    text-align-last: center;
    margin-top: 20px;
    
    
 }

 .div2{
    padding: 50px;
    margin: 30px;
    
 }

 .aula_experimental{
display: flex;
 }

 .aventura{
    text-align: center;
 }

.experimental{
    text-align:justify;
    font-family: 'poppins', sans-serif;
}

.img{
    margin:20px;
    padding-top:  70px;
}


 footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

.btn{
    padding: 15px 55px;
    background: #666666;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1.12rem;
    transition: all 0.5s;
    cursor: pointer;
}

.btn:hover{
    border-radius: 15px;
    
}

.paragrafo{
   padding: 10px;
   color: #56545E;
   font-size: 2rem;
   text-align: center;

}

.aventura {
    font-size: 2rem;
}
.h1{
    color: #ffae81;
    font-size: 2rem;
}


/* Contador Regressivo */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'poppins';
    margin: 0;
}

h1{
    font-weight: normal;
    font-size: 1rem;
    margin-top: 4.5rem;
} */

.contagem{
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-family: 'poppins';
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
    
}


.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'poppins';
}

.text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.5rem;
}
/* Final do contador regressivo */

.sec3{
    background: #f5f5f5;
    text-align-last: center;
    margin-top: 30px;
    
    
 }

 .div3{
    padding: 50px;
    margin: 30px;
    
 }

 .receba {
  
    font-size: 2rem;
    color: #FE509C;
    padding: 10px; 
 }

 /* Início do Footer */
 .lista__item {
    font-size: 2rem;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: .8em;
}

.rodape__logo {
align-items: ;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
    margin-left:2em;
}

.rodape__texto {
    margin: 1.5em 0;
    color: var(--cinza-secundario);
    font-size: 0.8rem;
}

.rodape {
    text-align: center;
    /* margin: .5em 1em; */
}

.lista__link a:hover{
    color: #ffae81;

}

.lista__link a:active {
    color: aqua;
}

.container__botao:hover {
background-color: #A9D343;
color: #000000;
}
 /* Final do Footer */

 @media (max-width: 1200px){
    .container{
        display: grid;
    }

    .flex{
        display: flex;
        align-items: center;
        justify-content: space-between; 
    }

    nav{
        background: transparent;
    }

    .banner h1{
        font-size: 4em;
        text-align: center;
        padding-top: 19rem;
        color: #ffff;
    }
    
    .banner h1 span{
        color: #ffae81;
    }

    .cabecalho__menu{
        justify-content: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
    }
}