*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* A tag "height no html aumenta o tamanho da página para rolar o scroll */
/* html{
    height: 500vh;
} */

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem{
    background-color: aliceblue;
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: #ffae81;
}

header i{
    font-size: 30px;
    color: aliceblue;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 25px;
}

header ul li a{
    color: aliceblue;
    text-decoration: none;
}

.banner{
    height: 100vh;
    background-image: url(img/banner.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #ffae81;
    color: aliceblue;
    cursor: pointer;
    transition: .2s;
}

.banner h1{
    font-size: 2.5em;
}

.banner h1 span{
    color: #ffae81;
}

/* Início do WhatsApp Suspenso */
.whats{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}
/* Final do WhatsApp suspenso */

.section-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    background-color: #0000;
    color: #000000;
    padding: 50px 36px;
}

/* Início Menu Dropdown */
.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
    background-color: #f5f5f5;
}

 .dropdown-menu a{
    display: block;
    color: black;
 }

 .dropdown:hover .dropdown-menu{
    display: block;
 }
 /* Final do Menu Dropdown */

 nav{
    background: #333;
}
 nav li{
    display: inline-block;
 }

 nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;
 }

 nav li a:hover{
    background-color: #A9D343;
 }


 .contato:hover{
    border-radius: 15px;
 }

 .sec2{
    background: #f5f5f5;
    text-align-last: center;
    margin-top: 20px;
    
    
 }

 .div2{
    padding: 50px;
    margin: 30px;
    
 }

 .aula_experimental{
display: flex;
 }

 .aventura{
    text-align: center;
 }

.experimental{
    text-align:justify;
    font-family: 'poppins', sans-serif;
}

.img{
    margin:20px;
    padding-top:  70px;
}


 footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

.btn{
    padding: 15px 55px;
    background: #666666;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
}

.btn:hover{
    border-radius: 15px;
    
}

.paragrafo{
   padding: 10px;
   color: #56545E;
   font-size: 2rem;
   text-align:justify;

}

.aventura {
    font-size: 2rem;
}
.h1{
    color: #ffae81;
    font-size: 2rem;
}


.sec3{
    background: #f5f5f5;
    text-align-last: center;
    margin-top: 30px;
    
    
 }

 .div3{
    padding: 50px;
    margin: 30px;
    
 }

 .receba {
  
    font-size: 2rem;
    color: #FE509C;
    padding: 10px;
   
 }

 .span {
    color: #ffae81;
    font-style:italic;
 }